@import url(http://fonts.googleapis.com/css?family=PT+Sans|Lato:700,900);


.home{
    
    font-family: 'Open Sans', sans-serif;
    font-weight:900;
}

.menu{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: #4d4d4d;
}

.navbar-button{
	background-color: #ffffff;
	color: #4d4d4d;
}

.login-form{
	background: #f2f2f2;
}

.button-color{
	background: #001a00;
	color: #ffffff;
}

.footer-header {
	color: #4d4d4d;
}


.container-above{
	background-color: #f2f2f2;
	color: #000000;

}

.copyright{
	background-color: #cccccc;
}

