@import url(http://fonts.googleapis.com/css?family=PT+Sans|Lato:700,900);


.home{
    
    font-family: 'Open Sans', sans-serif;
    font-weight:900;
    color: #ff6600;
}

.menu{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: #ff6600;
}

.navbar-button{
	background-color: #990000;
	color: #ff6600;
}

.container-above{
	background-color: #001a00;
	color: #ffffff;

}

.copyright{
	background-color: #000000;
}

